<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mitrecx.repository.ParseIMIXMapper">

    <insert id="insertIntoBuyback" parameterType="java.util.Map">
        insert all
        <foreach collection="list" item="item" index="index" separator=" ">
            into T_VALEXT_BANK_BUYBACKTRADE(
            FZQDM,
            FJYDATE,
            FGHDATE,
            FPZDATE,
            FGXR,
            FJXTS,
            FHGFX,
            FHGLX,
            FJYJE,
            FJMZE,
            FYJLX,
            FSJZKTS,
            FGHJE,
            FSN,
            FHGLV,
            FDSF,
            FEXECTYPE,
            FDELIVERYTYPE,
            FDELIVERYTYPE2,
            FJJDM,
            FMDHG,
            FJJMC,
            FSKHH,
            FSZHM,
            FSZH,
            FSKHHHH,
            FSZQZH,
            FSTGZH,
            FSTGH,
            FSID,
            FSJYYNAME,
            FBKHH,
            FBZHM,
            FBZH,
            FBKHHHH,
            FBZQZH,
            FBTGZH,
            FBTGH,
            FBID,
            FBJYYNAME,
            YWRQ,
            FILEDATE,
            FILENAME,
            FSXF
            )values(
            #{item.FZQDM,jdbcType=VARCHAR},
            to_date(#{item.193,jdbcType=VARCHAR},'YYYYMMDD'),
            to_date(#{item.75,jdbcType=VARCHAR},'YYYYMMDD'),
            to_date(#{item.64,jdbcType=VARCHAR},'YYYYMMDD'),
            to_timestamp(#{item.60,jdbcType=VARCHAR},'YYYYMMDD-HH24:MI:SS.ff'),
            #{item.10316,jdbcType=VARCHAR},
            #{item.54,jdbcType=VARCHAR},
            #{item.FHGLX,jdbcType=VARCHAR},
            #{item.FJYJE,jdbcType=VARCHAR},
            #{item.32,jdbcType=VARCHAR},
            #{item.FYJLX,jdbcType=VARCHAR},
            #{item.10014,jdbcType=VARCHAR},
            #{item.10289,jdbcType=VARCHAR},
            #{item.17,jdbcType=VARCHAR},
            #{item.44,jdbcType=VARCHAR},
            #{item.448,jdbcType=VARCHAR},
            #{item.150,jdbcType=VARCHAR},
            #{item.919,jdbcType=VARCHAR},
            #{item.10045,jdbcType=VARCHAR},
            #{item.fundID,jdbcType=VARCHAR},
            #{item.FMDHG,jdbcType=VARCHAR},
            #{item.fundName,jdbcType=VARCHAR},
            #{item.FSKHH,jdbcType=VARCHAR},
            #{item.FSZHM,jdbcType=VARCHAR},
            #{item.FSZH,jdbcType=VARCHAR},
            #{item.FSKHHHH,jdbcType=VARCHAR},
            #{item.FSZQZH,jdbcType=VARCHAR},
            #{item.FSTGZH,jdbcType=VARCHAR},
            #{item.FSTGH,jdbcType=VARCHAR},
            #{item.FSID,jdbcType=VARCHAR},
            #{item.FSJYYNAME,jdbcType=VARCHAR},
            #{item.FBKHH,jdbcType=VARCHAR},
            #{item.FBZHM,jdbcType=VARCHAR},
            #{item.FBZH,jdbcType=VARCHAR},
            #{item.FBKHHHH,jdbcType=VARCHAR},
            #{item.FBZQZH,jdbcType=VARCHAR},
            #{item.FBTGZH,jdbcType=VARCHAR},
            #{item.FBTGH,jdbcType=VARCHAR},
            #{item.FBID,jdbcType=VARCHAR},
            #{item.FBJYYNAME,jdbcType=VARCHAR},
            #{item.YWRQ,jdbcType=VARCHAR},
            #{item.FILEDATE,jdbcType=VARCHAR},
            #{item.FILENAME,jdbcType=VARCHAR},
            #{item.FSXF,jdbcType=VARCHAR}
            )
        </foreach>
        select 1 from dual
    </insert>


    <insert id="insertIntoBondTrade" parameterType="java.util.Map">
        insert all
        <foreach collection="list" item="item" index="index" separator=" ">
            into T_VALEXT_BANK_BONDTRADE(
            FDATE,
            FPZDATE,
            FSN,
            FZQDM,
            FBS,
            FJE,
            FZQLX,
            FZQLXHJ,
            FPRICE,
            FDIRTYPRICE,
            FDQSYL,
            FLASTQTY,
            FYHCKJE,
            FJJDM,
            FJJMC,
            FEXECTYPE,
            FDELIVERYTYPE,
            FSKHH,
            FSZHM,
            FSZH,
            FSKHHHH,
            FSZQZH,
            FSTGZH,
            FSTGH,
            FSID,
            FSJYYNAME,
            FBKHH,
            FBZHM,
            FBZH,
            FBKHHHH,
            FBZQZH,
            FBTGZH,
            FBTGH,
            FBID,
            FBJYYNAME,
            FZQMC,
            YWRQ,
            FILEDATE,
            FILENAME,
            FSL
            )values(
            to_date(#{item.FDATE,jdbcType=VARCHAR},'YYYYMMDDHH24:MI:SS'),
            to_date(#{item.64,jdbcType=VARCHAR},'YYYYMMDD'),
            #{item.17,jdbcType=VARCHAR},
            #{item.48,jdbcType=VARCHAR},
            #{item.FBS,jdbcType=VARCHAR},
            #{item.10312,jdbcType=VARCHAR},
            #{item.159,jdbcType=VARCHAR},
            #{item.10002,jdbcType=VARCHAR},
            #{item.44,jdbcType=VARCHAR},
            #{item.10048,jdbcType=VARCHAR},
            #{item.yieldRate,jdbcType=VARCHAR},
            #{item.32,jdbcType=VARCHAR},
            #{item.119,jdbcType=VARCHAR},
            #{item.FJJDM,jdbcType=VARCHAR},
            #{item.FJJMC,jdbcType=VARCHAR},
            #{item.150,jdbcType=VARCHAR},
            #{item.919,jdbcType=VARCHAR},
            #{item.FSKHH,jdbcType=VARCHAR},
            #{item.FSZHM,jdbcType=VARCHAR},
            #{item.FSZH,jdbcType=VARCHAR},
            #{item.FSKHHHH,jdbcType=VARCHAR},
            #{item.FSZQZH,jdbcType=VARCHAR},
            #{item.FSTGZH,jdbcType=VARCHAR},
            #{item.FSTGH,jdbcType=VARCHAR},
            #{item.FSID,jdbcType=VARCHAR},
            #{item.FSJYYNAME,jdbcType=VARCHAR},
            #{item.FBKHH,jdbcType=VARCHAR},
            #{item.FBZHM,jdbcType=VARCHAR},
            #{item.FBZH,jdbcType=VARCHAR},
            #{item.FBKHHHH,jdbcType=VARCHAR},
            #{item.FBZQZH,jdbcType=VARCHAR},
            #{item.FBTGZH,jdbcType=VARCHAR},
            #{item.FBTGH,jdbcType=VARCHAR},
            #{item.FBID,jdbcType=VARCHAR},
            #{item.FBJYYNAME,jdbcType=VARCHAR},
            #{item.55,jdbcType=VARCHAR},
            #{item.YWRQ,jdbcType=VARCHAR},
            #{item.FILEDATE,jdbcType=VARCHAR},
            #{item.FILENAME,jdbcType=VARCHAR},
            #{item.FSL,jdbcType=VARCHAR}
            )
        </foreach>
        select 1 from dual
    </insert>
</mapper>