# compiled class
*.class 

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar



# but do track these jars , even though you're ignoring .jar files above: 
!ojdbc6*.jar 
!yusp-commons*.jar

# eclipse 配置
/.settings
*.pref


/target

*.yml
